body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;  
}

h2 {
    text-align: center;
    padding-bottom: 15px;
    margin-top: 0px;
    border-bottom: 1px solid rgb(187, 178, 178);
}

.form-group {
    margin-bottom: 10px;
}
  
label {
    display: block;
    margin-bottom: 5px;
}

input:focus {
    outline: 1px solid #409ad6;
}
  
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.password-input-container {
    position: relative;
}
  
.show-password-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
  
input[type="submit"] {
    width: 100%;
    padding: 8px;
    background-color: #409ad6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #409ad6;
}

#error {
    text-align: center;
    color: red;
    padding: 10px;
    margin-top: -10px;
}

@media screen and (max-width: 350px) {
    .container {
       width: 200px;
    }  
}