body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5rem;
    background-image: linear-gradient(62deg, #8f9faf 0%, #409ad6 100%);
}

.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

#input {
    display: flex;
    flex-direction: row;
}

h1 {
    color: #4b4c4d;
    text-align: center;
    padding-bottom: 15px;
    margin-top: 0px;
    border-bottom: 1px solid rgb(187, 178, 178);
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
button {
    padding: 8px 15px;
    background-color:  #409ad6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input:focus, button {
    outline: 1px solid #409ad6;
}
ul li{
    list-style: none;
}
input[type = "checkbox"]{
    margin-left: -35px;
    font-size: 15px;
}
input[type = "submit"]{
    background-color:  #409ad6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    font-size: 19px;
}
.tasks {
    display: flex;
    flex-direction: row;
}


